/*
	Author : Jayed Hossain Jibon
	GitHub 	: https://github.com/jibon969
*/

/*
    Start Typography Part
*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto);

*{
    padding: 0;
    margin: 0;
}

body{
    overflow-x: hidden;
    font-family: "Open sans", sans-serif;
    text-rendering: optimizeLegibility  !important;
    -webkit-font-smoothing:  antialiased !important;
}

li{
    list-style: none;
    display: inline-block;
}

a{
    text-decoration: none;
    transform: all 500ms easy-in-out;
}

a:hover,
a:active{
    text-decoration: none;
}
h1, 
h2, 
h4{
    font-family: 'PT Sans Narrow', Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

p{
    font-size: 15px;
	line-height: 21px;
}

.btn{
    transition: all 300ms ease-in-out;
    font-weight: 500 !important;
    text-transform: uppercase;
}

.btn:hover{
    background-color: #ededed !important;
    color: #3c3c3c !important;
    border: 1px solid #fff !important;
}

/* 
	End Typography Part
*/


/* Navigation */

.navbar{
    background-color: #222222 !important;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar a{
    color: #fff !important;
    opacity: 0.7;
    
}

.navbar a:hover{
    background-color: #199F5F !important;
    opacity: 1;
}

/* Start Header*/

.header{
    height: 600px;
    width: 100%;
    padding: 30px 0 30px;
    margin-top: 50px;
    background-image: url(../image/slider/1.jpg);
    background-repeat: no-repeat;
    background-color: cover;
    color: #222222;
    
}

.header img{

    height: 350px;
    width: 450px;
    margin: 70 0 0 40px;
}

.header h1{
    padding-top: 30px;
    font-size: 30px;
    font-weight: 700;
}

.header h1,
.header p,
.header button{
    margin-top: 20px;
}

.header .btn{
    border-radius: 0px;
    margin: 40px 15px;
}

/*HEADER for small device */

@media(max-width:768px){
    .header{
        padding: 30px;
        height: 750px;
    }
    .header img{
        width: 90%;
        height: 300px;
        margin: 20px 0 0 20px;
    }
    .header .btn{
        font-size: 10px;
        margin-left: 20px;
    }
    .header h1{
        font-size: 20px;
    }
    .header p{
        font-size: 10px;
    }
}


/* SERVICES */

.services{
    padding: 50px 0 80px;
    text-align: center;
}

.services h2,
.services h4{
    color: #4c4c4c;
    margin: 20px 0 20px;
}
.services p{
    color: #737373;
   
    font-size: 14px;
    padding-bottom: 40px;
}

.services i{
    height: 80px;
    width: 80px;
    font-size: 30px;
    padding: 25px 20px;
    border-radius: 50%;
    background-color: #6699cc;
    color: #fff;
}

@media(max-width:768px){
    .services{
        padding: 30px;
    }
}


/* PRICING */

.pricing{
    padding: 50px 0 80px;
    text-align: center;
    background-color: #3399ff;
}
.pricing h2,
.pricing p{
    color: #fff;
}

.pricing p{
padding-bottom: 40px;
}

.pricing .packages{
    padding: 30px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 30px;
}
.pricing li{
    display: block;
    padding: 5px;
}

.packages h4,
.packages h1,
.packages b{
    color: #4c4c4c;
}

.packages p,
.packages li{
    color: #737373;
}
.packages button{
    margin-top: 10px;
}

@media(max-width:768px){
    .pricing{
        padding: 30px;
    }
    .packages{
        width: 100%;
        margin-left: 25px;
    }
}

/* TEAM */

.team{
    padding: 50px 0 80px;
    text-align: center;
}
    
    
.team b,
.team h2,
.team h4{
    margin: 20px 0 20px;
    color: #4c4c4c;
}
.team p{
    color: #737373;
}
.team img{
    height: 150px;
    width: 150px;
    margin-top: 80px;
}

.team i{
    height: 30px;
    width: 30px;
    padding: 5px;
    font-size: 17px;
    border-radius: 80%;
    background-color: #a0db8e;
    color: #fff;
}
.team a:hover i{
    background-color: #709963;
}


/* CLIENT */

.client{
    text-align: center;
    padding: 50px 0 80px;
    background-color: #3399ff;
    color: #fff;
}

.client h2{
    color: #e5e5e5;
}
.client p{
    padding-bottom: 40px;
}

.client img{
    width: 200px;
    opacity: 0.6;
    cursor: pointer;
    margin: 40px 0;
    transition: all 500ms ease-in-out;
}
.client li:hover img{
    opacity:1;
}

/* CONTACT */

.contacts{
    padding: 50px 0 80px;
    text-align: center;
}

.contacts p{
    padding-bottom: 80px;
    color: #737373;
}

.contacts h2{
    color: #4c4c4c;
    margin: 20px 0 20px;
}

.contacts .input-group{
    margin-bottom: 25px;
}

.contacts .form-control{
    border-radius: 0 !important;
}

.contacts span{
    border-radius: 0 !important;
}

.contacts .btn{
    font-size: 15px;
    border-radius: 0;
    width: 100%;
    background-color: #f08080;
    color: #fff;
}

.contacts .btn:hover{
    background-color: #a85959 !important;
    color: #fff !important;
}


/* FOOTER */

.footer{
    padding: 30px;
    color: #cccccc;
    background-color: #222222;
}

.footer .social{
   font-size: 20px;
   height: 30px;
   width: 30px;
   text-align: center;
   padding: 5px;
   border: 1px solid #cccccc;
   margin-bottom: 10px;
   margin-right: 5px;
}

.footer input{
    height: 40px;
    width: 160px;
    padding: 5px;
    border: none;
    background-color: #cccccc;
    color: #000;
}

.footer .btn{
    padding: 10px 5px 10px;
    margin: -3px 0 0
}

/* End Code */