h2{
	margin: 150px;

	transform: rotate(18deg); /* This is for firefox*/

	-webkit-transform:rotate(150deg);/*This is for google chorom And safirary*/

	-ms-transform:rotate(45deg);/*This is for opera And internate Explorar*/


}

