.jui{

	text-align: center;

	text-decoration: none;

	text-decoration: line-through;

	text-decoration: overline;

	text-transform: uppercase; /* All leter are big*/


	font-weight: bolder;

	/* font-variant: small-caps; */ /* All letter are small */

}

.mim{

	text-decoration: underline;

	text-transform: uppercase;
}

#neha{

	color: blue;
}

h4{ text-decoration: overline; }

h5{ 

	font-family: arial;

	font-size: 24px;

	font-weight: bold;

	font-style: italic;



	 }

	 .x{

	 	background-image: url(Image/Image.jpg);

	 	background-repeat: no-repeat;

	 	background-size: cover;

	 }


	 .mydiv{

	 	    width: 183px;

    		height: 151PX;

	    	background-color: red;

	    	margin-top: 20px;

	    	padding: 20px;

	    	float: left;


	 }

	 .mydiv1{


	 	width: 183px;

    	height: 151PX;

		background-color: green;
		
		padding: 20px;

		float: left;



	 }


	 #jayed	 p{


	 	color: red;

	 }

	 .pj{

	 	border: 1px solid red;

	 	width: 552px;

    	height: 150px;

    	overflow: scroll;

	 }

	 #Sj span{


	 	color: #fff;

		background-color: green;

		display: inline-table;


	 }

	 .fx{


	 	background: red;

	 	width: 290px;

	 	height: 150px;

	 	float:left;

	 	margin-left: 20px;

	 	text-align: center;


	 }

	 .za{

	 	background: green;

	 	width: 290px;

	 	height: 150px;

	 	float: left;


	 	text-align: center;
	 }

	 .ABC{

	 	background: red;

	 	width: 290px;

	 	height: 150px;

	 	float: left;


	 	text-align: center;

	 }


	 .ABC:hover{


	 	background: green;
	 }