h2{
	color: green;/* Heading color green*/
	text-align: center;/*Heading middle jaba*/
	text-decoration: underline;/* Heading underline hoba*/
}

p{
	 background: pink none repeat scroll 0 0;/*paragraph background pink color*/
    line-height: 44px;/* line heigth means one line to another line*/
    word-spacing: 0;/*Distance one litter to another letter*/


}