h2{
	color: green;
}

p{
	background-image: url(Image/7.jpg); /* if any image background than formulla [ background-image: url(Image/7.jpg); ] */

	color: red;

	margin-left: 20px;
	margin-right: 30px;
	margin-top: 50px;
	margin-bottom: 25px;

	/* but we can use margin:12px,25px,45px 10px; / One margin in Enough */

	padding: 15px 25px;

	/* padding two way 1. up to down 2.left to right Now formulla[ padding:15px 25px ] ; */

}