h2{
	color: green;
}

body{

	width: 960px;

	background-image: url(Image/62882723-Motivation-Picture-Quote-Never-Quit.jpg);

	background-repeat: no-repeat;

	/*  background-repeat: repeat-x;  */ /* If any image repeat to left And Right than use it this for mulla */

	/*  background-repeat: repeat-y;  *//* If any image repeat to ups And Down than use it this for mulla */

	background-position: 220px 107px;  /* If image any postion than use it And Firebug use it */

	

	/* There are Same Work we can write this formulla

	background:url(Image/62882723-Motivation-Picture-Quote-Never-Quit.jpg) no-repeat 220px 107px;

	We Can Use This Formulla  */
}