h2{
	background-color: green;
}

table{

	width: 646px; border: 1px; border-collapse: collapse;
}

table, td, th{

	border: 3px outset green;

}

td{
	text-align: center;
}

th{
	background: red; color: white;
}

tr{
	color: gray;
}